html
  head
    title Welcome to the sample app!
    link(rel="stylesheet", type="text/css", href="public/main.css")
  body.container
    if plus.profile
      div.profile.mcell
        a(href=plus.profile.url)
          img(src=plus.profile.image.url)
    else
      span.mcell
        a.signin(href="/login") Sign In with Google+
